<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Khomik page`s</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{css/reset.css}">
        <link rel="stylesheet" th:href="@{css/style.css}">
    </head>
    <body>
        <header class="header">
            <div class="container header_container">
                <div class="logotipe">
                    <div class="logo">
                        <a class="log" href="#">Fine Serials</a>
                    </div>
                </div>
                <div class="navigation">
                    <div class="nav">
                        <ul class="nav_ul">
                            <li>
                                <a class="nav_item" href="#"><span class="text">Main</span></a>
                            </li>
                            <li>
                                <a class="nav_item" href="#"><span class="text">Films</span></a>
                            </li>
                            <li>
                                <a class="nav_item" href="#"><span class="text">Serials</span></a>
                            </li>
                            <li>
                                <a class="nav_item" href="#"><span class="text">Contacts</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </header>
        <div class="section ">
            <div th:switch="${students}">
                <h2 class="section_subtitle" th:case="null">There are no users!</h2>
                <div th:case="*">
                    <h2 class="section_subtitle">Users</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th></th>
                                <th>Delete</th>
                                
                                <!--
                                <th>Actor</th>
                                <th>Test</th>
                                <th>Ganre</th>
                                -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="student : ${students}">
                                <td th:text="${student.name}"></td>
                                <td th:text="${student.email}"></td>
                                <td th:text="${student.age}"></td>
                        
<!--                        <th>Edit</th>
                        <th>Delete</th>-->
                                <!--
                                <td th:text="${user.email}"></td>
                                <td th:text="${user.actor}"></td>
                                <td th:text="${user.test}"></td>
                                <td th:text="${user.ganre}"></td>
                                -->
                                <td>
                                    <form action="./update" method="post">
                                        <input type="hidden"  name="url" th:value="${student.getHref()}">
                                        <input type="text" class="table_btn" name="name" th:value="${student.name}"/>
                                        <input type="text" class="table_btn" name="email" th:value="${student.email}"/>
                                        <input type="text" class="table_btn" name="age" th:value="${student.age}"/>
                                        <button class="table_btn" type="submit">Update</button>


                                    </form> 
                                </td>
                                <td>
                                    <form action="./del" method="post">
                                        <input type="hidden" name="url" th:value="${student.getHref()}">
                                        <button class="table_btn" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <form action="./post" method="post">
                                <td><input class="table_btn" type="text" name="name" /></td> 
                                <td><input class="table_btn" type="text" name="email" /></td> 
                                <td><input class="table_btn" type="text" name="age" /></td>
                                <td colspan="2"><button class="table_btn" type="submit">Create User</button></td> 
                                </form> 
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form action="./getMessage">
                    <button  type="submit" class="section_btn btn"><span>Start Work</span></button>
                </form>
            </div>
        </div>
        
    </body>
</html>
