/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 лют. 2021 р., 19:00:10
    Author     : ПК
*/


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.375;
    color: #1f1f1f;
}

.container {
    padding: 0 20px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.section {
    padding: 110px 0;
}

.log {
    padding: 5px 15px;
    margin-right: 15px;
    font-size: 28px;
    background-color: lightgray;
    font-family: 'Oleo Script', serif;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn {
    background: #db2730;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    width: 240px;
    max-width: 100%;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    letter-spacing: .01em;
    box-shadow: 0 0 38px 0 rgba(212, 68, 50, 0.8);
    transition: color .2s, background .2s, opasity .2s;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.btn:hover {
    background: #bb252d;
}

.btn:active {
    opacity: 0.8;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
}
/* ------------------Button------------------- */

/* --------------------Header---------------------- */
.form_container{
    z-index: 100;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: rgba(11, 20, 25, .9);
    padding: 9px 0;
    overflow: hidden;
}

.text {
    position: relative;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 15px;
}

.nav_ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_item {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
}

.nav_item:hover {
    color: #1f1f1f;
}

.nav_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: calc(100% + 120px);
    transform: translateY(-50%);
    opacity: 0;
    transition: opasity .2s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.nav_item:hover::before {
    opacity: 1;
}

.section {
    height: 100vh;
    background: #0e1419 url(assets/imgs/bg.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    min-height: 600px;
    padding: 140px 0 100px;
}


.section_container {
    position: relative;
    width: 560px;
}

.section_subtitle {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #fcff00;
    margin: 0;
}

.section_title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin: 0 0 35px;
}

.btn {
    background: gray;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    width: 240px;
    max-width: 100%;
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    letter-spacing: .01em;
    box-shadow: 0 0 38px 0 rgba(235, 233, 232, 0.8);
    transition: color .2s, background .2s, opasity .2s;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    -ms-border-radius: 28px;
    -o-border-radius: 28px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

.btn:hover {
    color: black;
    background: #ffffff;
}

.btn:active {
    opacity: 0.8;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
}

.new_title {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin: 40px auto;
}

.main_title{
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 35px; 
    color: white;
}

.form__input {
    padding: 12px 15px;
    margin:5px 0 5px;
    border-radius: 30px;
    font-size: 18px;
}
.label{
    font-size: 20px;
}
.inner{
    z-index: 100;
}
.table_btn{
    border-radius: 15px;
    padding: 10px 20px;
    background: #b19eb1;
    color: black;
    cursor: pointer;
}
.table_btn:hover{
    background: #bb84bb;
    color: white;
    cursor: pointer;
    
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 18px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #e6862d;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 13px 26px;
}
th, td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 13px 26px;
    background: #cec9cee;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}

@media(max-width: 1200px) {
    .nav_item {
        font-size: 16px;
        padding: 12px 30px;
    }
}

@media(max-width: 992px) {
    .header {
        padding: 5px 0;
    }
}
@media(max-width: 1200px) {
    .nav_item {
        font-size: 16px;
        padding: 12px 30px;
    }
}

@media(max-width: 992px) {

    .section {
        padding-top: 100px;
    }
    .header {
        padding: 5px 0;
    }
}
@media(max-width: 800px){
    .section_subtitle {
        font-size: 30px;
    }
    .section_title {
        font-size: 31px;
    }
}
@media(max-width: 750px){
    .log{
        font-size: 24px;
    }
    .logo{
        min-width: 160px;
    }
}
@media(max-width: 655px){
    .log{
        font-size: 22px;
        
    }
}
@media (max-width: 576px) {
    .section_subtitle {
        font-size: 24px;
    }
    .section_title {
        font-size: 25px;
    }
    .btn {
        padding: 10px 20px;
        width: 220px;
        font-size: 16px;
    }
}


@media (max-width: 360px) {
    .section_title {
        font-size: 20px;
    }
}
